 
 
 body {
    background-color: rgba(219, 219, 219, 0.226);
}

h1 {     

    font-family: 'Great Vibes', cursive;
    font-size: 100px;
    color: white;
    color: #f9aa33;
    text-align: center;
}

.box1 { grid-area: header; 
background-color:  #344955;
margin-left: 15px;
margin-top: 15px;
}
.box2 { grid-area: menuu; 

    background-color: #344955;
    margin-right: 15px;
    margin-top: 15px;}
.box3 { grid-area: main; 
    margin-right: 15px;
    margin-top: 15px;
    background-image: url("IMG_.JPG");

    background-size: 500px 400px;}
.box4 { grid-area: footer; 
    margin-top: 15px;
    margin-left: 15PX;
    background-image: url("IMG_.JPG");

    background-size: 500px 400px;
}

.box5 { grid-area: mainn; 
    margin-right: 15px;
    margin-top: 15px;
    background-image: url("IMG_.JPG");

    background-size: 500px 400px;
}

.box6 { grid-area: head; 
    background-color:  #344955;
    margin-left: 15px;
    margin-top: 15px;
    }

.grid {
    margin-left: 20%;
    margin-right: 20%;
    border-radius: 20px;
    display: grid;
    grid-template-areas:
      'header header header header main main'
      'footer footer menuu menuu menuu menuu'
      'head head head head mainn mainn';
    box-shadow:10px 5px 10px #34495571;
    padding: 10px;
    grid-auto-rows: 400px ;
  }
  .grid > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
  }
  div{
      font-family: ;
      color: rgb(242, 245, 216);
  }