 
 body {
    background-color: whitesmoke;
}

h1 {     

    font-family: 'Great Vibes', cursive;
    font-size: 50px;
    color: white;
    color: #f9aa33;
    text-align: center;
}

.box1 { grid-area: header; 
background-color: black;
}
.box2 { grid-area: menuu; 

    background-color: rgb(134, 25, 25);}
.box3 { grid-area: main; 

    background-color: rgb(124, 86, 168);}
.box4 { grid-area: footer; }

.grid {
    display: grid;
    grid-template-areas:
      'header header header header header header'
      'menuu main main main main main'
      'menuu footer footer footer footer footer';
    grid-gap: 10px;
    background-color:  #344955 ;
    padding: 10px;
    margin-left: 10%;
    margin-right: 10%;
  }
  .grid > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    margin: 10px;
  }